@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

/* Glass reflection effect */
.glassy-reflect::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.25), transparent 70%);
  opacity: 0;
  transition: opacity 0.4s ease;
  border-radius: inherit;
}

.glassy-reflect:hover::before {
  opacity: 1;
}

/* Ripple effect */
.ripple-container::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  opacity: 0.7;
  background: rgba(255, 255, 255, 0.25);
  animation: none;
  pointer-events: none;
}

button:active .ripple-container::after {
  animation: ripple 0.6s linear;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
.no-scrollbar {
  overflow-x: hidden !important;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
@keyframes glass {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-glass {
  animation: glass 2s linear infinite;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
